.ItemEditor .field {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.ItemEditor .key {
  font: 12px monospace;
  line-height: 22px;
}

.ItemEditor input {
  font: 10px monospace;
  height: 22px;
  box-sizing: border-box;
}

.ItemEditor .error {
  background-color: #ff8f8f;
}