.MapEditor {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 40px auto;
  gap: 0;
}

.MapEditor.dock-l {
  grid-template-columns: 320px auto;
  grid-template-areas: "toolbar toolbar"
                       "sidebar main";
}

.MapEditor.dock-r {
  grid-template-columns: auto 320px;
  grid-template-areas: "toolbar toolbar"
                       "main sidebar";
}

/******** Toolbar ********/

.Toolbar {
  grid-area: toolbar;
  padding: 5px 10px;
  border-bottom: 1px solid #999;
  background-color: #eee;
}

.Toolbar .gap {
  display: inline-block;
  width: .5em;
}

.Toolbar .tool:not(.selected) {
  opacity: 0.5;
}

/******** Sidebar ********/

.Sidebar {
  grid-area: sidebar;
  padding: 5px 10px;
  background-color: #e3f2f7;
}

.MapEditor.dock-l .Sidebar {
  border-right: 1px solid #999;
}

.MapEditor.dock-r .Sidebar {
  border-left: 1px solid #999;
}

/******** Container ********/

.Container {
  position: relative;
  grid-area: main;
  overflow: scroll;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". . ." ". box ." ". . .";
}

.ContainerBox {
  position: relative;
  margin: 10px;
  padding: 0;
  border: 1px solid #ccc;
  grid-area: box;
  cursor: crosshair;
}

.Container canvas {
  margin: 0;
  padding: 0;
  z-index: 10;
}

.Container .drag-area {
  position: absolute;
  border: 1px solid rgb(0, 104, 201);
  background-color: rgba(67, 142, 212, 0.5);
  box-sizing: border-box;
  pointer-events: none;
  z-index: 30;
}

.Container .sprite {
  position: absolute;
  z-index: 20;
  cursor: pointer;
}

.Container .sprite.selected {
  position: absolute;
  z-index: 21;
  cursor: pointer;
}

.Container .sprite:before {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #1c3d26;
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  z-index: 2;
}

.Container .sprite:hover:before {
  outline: 2px solid rgba(146, 224, 255, 0.8);
}

.Container .sprite.selected:before {
  border-radius: 0;
  outline: 3px solid rgba(146, 224, 255, 0.8);
}

.Container .sprite:after {
  content: var(--label, "");
  position: absolute;
  left: 0;
  top: 5px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(192, 192, 192, 0.8);
  font: 12px Consolas;
  transform: translateX(-50%);
  color: #000;
}

.Container .sprite.selected:after {
  font-weight: bold;
  text-shadow: 0 0 4px rgba(128, 128, 128, 0.8);
}

.Container .sprite .box {
  position: absolute;
  display: block;
  opacity: 0.7;
  box-shadow: 0 0 4px rgba(64, 64, 64, 0.5);
  z-index: 1;
}

.Container .sprite:hover .box {
  opacity: 0.8;
  box-shadow: 0 0 6px rgba(64, 64, 64, 0.6);
}

.Container .sprite.selected .box {
  opacity: 0.95;
  box-shadow: 0 0 8px rgba(64, 64, 64, 0.7);
}

.Container .sprite.entity:before {
  background-color: #019b9b;
}

.Container .sprite.decoration:before {
  background-color: #809c00;
}

.Container .sprite.entity.player .box {
  left: -12px;
  top: -50px;
  width: 24px;
  height: 50px;
  background-color: #3ec973;
}

.Container .sprite.entity.scout .box {
  left: -10px;
  top: -30px;
  width: 20px;
  height: 30px;
  background-color: #9fc93e;
}

.Container .sprite.entity.guard .box {
  left: -10px;
  top: -30px;
  width: 20px;
  height: 30px;
  background-color: #c9983e;
}

.Container .sprite.entity.archer .box {
  left: -10px;
  top: -30px;
  width: 20px;
  height: 30px;
  background-color: #c9473e;
}

.Container .sprite.entity.wizard .box {
  left: -10px;
  top: -30px;
  width: 20px;
  height: 30px;
  background-color: #c93e9f;
}

.Container .sprite.entity.boss .box {
  left: -10px;
  top: -30px;
  width: 20px;
  height: 30px;
  background-color: #8a3ec9;
}

.Container .sprite.killBox:before {
  background-color: #9c0000;
}

.Container .sprite.killBox {
  background-color: #c9473e;
}

.Container .sprite.spawnPoint:before {
  background-color: #5e009c;
}
